/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background: #5372f0;
}

.settings {
  display: flex;
  justify-content: end;
  margin: 5px;
  padding: 10px;
}

.settings-btn {
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 400px;
  background: radial-gradient(
    circle,
    #5284b8,
    #0094bb,
    #009f9c,
    #00a361,
    #739f10
  );
  color: white;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 5px 5px black;
  top: 0;
  left: 0;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
}

.modal select {
  border-radius: 7px;
  font-size: 18px;
}

.start-btn,
.info-box,
.quiz-box,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-box.activeInfo,
.quiz-box.activeQuiz,
.result-box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start-btn button {
  font-size: 25px;
  font-weight: 500;
  color: #5372f0;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}

.info-box {
  max-width: 500px;
  width: 95%;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info-box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}

.info-box .info-list {
  padding: 15px 30px;
}

.info-box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
}

.info-box .info-list .info span {
  font-weight: 600;
  color: #5372f0;
}

.info-box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}

.info-box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5372f0;
  transition: all 0.3s ease;
}

.quiz-box {
  max-width: 500px;
  width: 95%;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz-box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz-box header .title {
  font-size: 20px;
  font-weight: 600;
}

.quiz-box header .timer {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}

.quiz-box header .timer .time-left-txt {
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}

.quiz-box header .timer .timer-sec {
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}

.quiz-box header .time-line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #5372f0;
}

section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}

section .que-text {
  font-size: 25px;
  font-weight: 600;
}

section .option-list {
  padding: 20px 0px;
  display: block;
}

section .option-list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option-list .option:last-child {
  margin-bottom: 0px;
}

section .option-list .option:hover {
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}

section .option-list .option.correct {
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}

section .option-list .option.incorrect {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

section .option-list .option.disabled {
  pointer-events: none;
}

section .option-list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

.option-list .option .icon.tick {
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}

.option-list .option .icon.cross {
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}

footer {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .total-question span {
  display: flex;
  user-select: none;
}

footer .total-que span p {
  font-weight: 500;
  padding: 0 5px;
}

footer .total-que span p:first-child {
  padding-left: 0px;
}

footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #5372f0;
  border: 1px solid #5372f0;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover {
  background: #0263ca;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result-box {
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  max-width: 400px;
  width: 95%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result-box .icon {
  font-size: 100px;
  color: #5372f0;
  margin-bottom: 10px;
}

.result-box .complete-text {
  font-size: 20px;
  font-weight: 500;
}

.result-box .score-text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result-box .score-text span p {
  padding: 0 4px;
  font-weight: 600;
}

.result-box .buttons {
  display: flex;
  margin: 20px 0;
}

.result-box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5372f0;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #5372f0;
}

.buttons button.restart:hover {
  background: #0263ca;
}

.buttons button.quit {
  color: #5372f0;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #5372f0;
}

/* Responsive media query code for small devices */
@media (max-width: 768px) {
  section {
    padding: 25px 15px 20px 15px;
  }

  .quiz-box header,
  .info-box .info-title,
  .info-box .buttons {
    padding: 0 15px;
  }

  .result-box {
    padding: 25px 10px;
  }

  .info-box .info-list {
    padding: 15px;
  }

  .start-btn button {
    font-size: 20px;
    padding: 10px 25px;
  }
}
